# 연습문제

In [5]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('./test.db')

In [27]:
cur = conn.cursor()
cur.execute('CREATE TABLE Idol1 \
        (id INT NOT NULL, \
        group_name TEXT, \
        구성원 수 TEXT, \
        데뷔일자 TEXT, \
        소속사 TEXT, \
        PRIMARY KEY(데뷔일자));')

In [56]:
ss = pd.read_csv('singers.csv',encoding='CP949',skiprows=[0],
                names=['group_name', '구성원', '데뷔일자', 
                        '소속사'])
ss

  group_name  구성원        데뷔일자     소속사
0      방탄소년단    7  2013-06-13  빅히트 엔터
1        마마무    4  2014-06-19     RBW
2       우주소녀   13  2016-02-25  스타쉽 엔터
3        블락비    7  2011-04-15   KQ 엔터
4         엑소    9  2012-04-08   SM 엔터
5       트와이스    9  2015-10-20  JYP 엔터

In [57]:
# players = (ss['group_name']), (ss['구성원 수']), (ss['데뷔일자']), (ss['소속사'])
# cur = conn.cursor()
# sql = 'INSERT INTO Idol VALUES (?, ?, ?, ?, ?);'
# cur.executemany(ss)

In [58]:
ss['group_name'][2]

'우주소녀'

In [62]:
sql = 'INSERT INTO Idol (group_name, 구성원, 데뷔일자, 소속사)\
                         VALUES (?, ?, ?, ?);'
for number in range(len(ss)):
    cur.execute(sql, (ss['group_name'][number], ss['구성원'][number], ss['데뷔일자'][number], ss['소속사'][number]))

IntegrityError: NOT NULL constraint failed: Idol.id