# chapter 04. 반복문

In [18]:
# ex 4-1
for x in range(5):
    print('안녕하세요.', x)

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [17]:
#ex 4-2
x = 0
while x < 5:
    print('안녕하세요.', x)
    x +=1

안녕하세요. 0
안녕하세요. 1
안녕하세요. 2
안녕하세요. 3
안녕하세요. 4

In [19]:
# ex 4-3
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [20]:
# ex 4-3
#sum =1 + 2 + ... + 10
sum = 0
for i in range(1, 123456):
    sum += i
print(sum)

7620630240

In [21]:
# ex 4-4

for i in range(10):
    print(i, end=' ')
print()

for i in range(1, 11):
    print(i, end=' ')
print()

for i in range(1, 10, 2):
    print(i, end= ' ')
print()
    
for i in range(20, 0, -2):
    print(i, end=' ')
print()

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 3 5 7 9
20 18 16 14 12 10 8 6 4 2

In [44]:
#ex 4-5

sum = 0
for i in range(1, 101):
    if i % 3 == 0 :
        print('%d' % i, end = ' ')
        sum += i


print('\n', '-' * 50)
print('1 ~ 100에서 3의 배수의 합계 : %d' % sum)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1 ~ 100에서 3의 배수의 합계 : 1683

In [41]:
# ex 4-6

word = input('영어 문장을 입력하세요> ')

for c in word:
    print(c)

영어 문장을 입력하세요> i love you
i

l
o
v
e

y
o
u

In [24]:
print('-' * 30)
print('     섭씨     화씨')
print('-' * 30)

for c in range(-20, 31, 5) :
    f = c * 9.0 / 5.0 + 32.0
    print('%8d  %7.1f' % (c, f))
    
print('-' * 30)

------------------------------
     섭씨     화씨
------------------------------
     -20     -4.0
     -15      5.0
     -10     14.0
      -5     23.0
       0     32.0
       5     41.0
      10     50.0
      15     59.0
      20     68.0
      25     77.0
      30     86.0
------------------------------

In [25]:
# Q 4-1. 5의 배수가 아닌 수의 합계 구하기
n1 = int(input('시작 수를 입력하세요 : '))
n2 = int(input(' 끝 수를 입력하세요 : '))

시작 수를 입력하세요 :

ValueError: invalid literal for int() with base 10: ''

In [26]:
# Q 4-2

In [27]:
# Q 4-3

In [28]:
# Q 4-4

In [29]:
# Q 4-5

In [30]:
# Q 4-6

In [31]:
# ex 4-9 구구단

for i in range(2, 10):
    #print('-' * 50)
    for k in range(1, 10):
        print('%d x %d = %2d' % (i, k, i*k))
    print('-' * 50)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------------------------------------
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------------------------------------
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------------------------------------
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------------------------------------
6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------------------------------------
7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------------------------------------
8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------------------------------------
9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------------------------------------

In [32]:
# Q 4-7
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [33]:
for i in range(1, 6):
    for k in range(1, i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [34]:
for i in range(1, 6):
    for s in range(1, 5-i+1):
        print(' ', end='')
    for k in range(1, i+1):
        print('*', end='')
    print()

    *
   **
  ***
 ****
*****

In [35]:
for i in range(1, 6):
    for s in range(5, i, -1):
        print(' ', end='')
    for k in range(1, i+1):
        print('*', end='')
    print()

    *
   **
  ***
 ****
*****

In [36]:
sum = 0
i =1

while i <= 10 :
    sum += 1
    print('i의 값 : %d =>합계 : %d' % (i, sum))
          if sum == 10:
              break

IndentationError: unexpected indent (<ipython-input-36-1e411af3a60a>, line 7)

In [37]:
# 합이 1000에 가장 가까운 경우는 1에서 부터 얼마까지 더한 경우인가?

sum = 0
count = 1
while sum < 1000:
    sum += count
    count += 1
print(sum-count, count)

989 46

In [38]:
sum = 0
count = 1
while True:
    if sum > 1000:
        break
    sum += count
    count += 1
print(sum-count, count)

989 46

In [39]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i, end=' ')

1 3 5 7 9

In [40]:
for i in range(1, 6):
    for i in range(5):
        print('i =', i, ':', end=' ')
        for k in range(5):
            if k == i:
                break;
        print(k, end=' ')
    print()

i = 0 : 0 i = 1 : 1 i = 2 : 2 i = 3 : 3 i = 4 : 4
i = 0 : 0 i = 1 : 1 i = 2 : 2 i = 3 : 3 i = 4 : 4
i = 0 : 0 i = 1 : 1 i = 2 : 2 i = 3 : 3 i = 4 : 4
i = 0 : 0 i = 1 : 1 i = 2 : 2 i = 3 : 3 i = 4 : 4
i = 0 : 0 i = 1 : 1 i = 2 : 2 i = 3 : 3 i = 4 : 4